html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('images/bg-tile.png');
    color: hsl(259, 100%, 94%);
    height: 100%;
    width: 100%;
}
body{
    height: 60%;
    width: 100%;
}
button {
    color: white;
    background-color: #343434;
    padding: 15px;
    border: 2px solid #707070;
}
button:hover {
    color: white;
    padding: 15px;
    border: 2px solid #707070;
    filter: brightness(150%);
}
button:disabled {
    background-color: darkGray;
	color: gray;
}
div.topnav {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    align-items: center;
}
div.topnav a {
    text-align: center;
    border: none;
    font-size: x-large;
    background-color: rgba(30,30,30,0.7);
    text-decoration: none;
    border-top: 5px solid #975eb8;
    border-bottom: 5px solid #975eb8;
    color: #eed2ff
}
div.topnav a:hover {
    text-align: center;
    border: none;
    font-size: x-large;
    background-color: #343434;
    text-decoration: none;
    border-top: 5px solid #975eb8;
    border-bottom: 5px solid #975eb8;
    color: #eed2ff
}
a {
    display: inline-block;
    color: white;
    background-color: #343434;
    padding: 15px;
    border: 2px solid #707070;
    text-decoration: none;
    white-space: nowrap;
}
#home {
     font-size: xx-large;
     color: #dc9fff;
     text-decoration: none;
     border: 5px solid #eed2ff;
 }
a:hover {
    color: white;
    padding: 15px;
    border: 2px solid #707070;
    text-decoration: none;
}
#wordContainer {
	display: inline;
}
#wordContainer p {
	display: inline-block;
	padding: 10px;
	border: 2px solid black;
	margin: 5px;
	width: 15px;
    font-weight: bolder;
    color: white;
}
#man {
	padding: 50px;
	text-align: center;
}