html {
	text-align: center;
	background-image: url('images/bg-tile.png');
	color: white;
}
div.topnav {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    align-items: center;
}
div.topnav a {
    text-align: center;
    border: none;
    font-size: x-large;
    background-color: rgba(30,30,30,0.7);
    text-decoration: none;
	color: white;
}
div.topnav a:hover {
    text-align: center;
    border: none;
    font-size: x-large;
    background-color: #343434;
    text-decoration: none;
	color: white;
}
#home {
	font-size: xx-large;
	color: #dc9fff;
	text-decoration: none;
}
#topbar {
	color: white;
	height: 100px;
	width: 800px;
	display: grid;
	grid-template-columns: 100px 1fr 1fr 100px;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	grid-template-areas: 
		". s msg ."
		". score msg .";
}
#begin {
    font-size: x-large;
	color: white;
    background-color: #343434;
    padding: 15px;
    border: 2px solid #707070;
    text-decoration: none;
}
#begin:hover {
    font-size: x-large;
	color: white;
    padding: 15px;
    border: 2px solid #707070;
    text-decoration: none;
	filter: brightness(150%);
}
h1 {
	font-size: xx-large;
}
#s {
	font-size: x-large;
	grid-area: s;
	color: white;
}
#score {
	grid-area: score;
	color: white;
}
#msg {
	font-size: x-large;
	grid-area: msg;
	color: white;
}
#board {
	height: 600px;
	width: 800px;
	display: grid;
	grid-template-columns: 100px 1fr 1fr 100px;
	grid-template-rows: 50px 1fr 1fr 100px;
	grid-template-areas: 
		". . . ."
		". one two ."
		". three four ."
		". . . .";
}
#one {
	grid-area: one;
	background-color: red;
	border-top: 10px solid gray;
	border-left: 10px solid gray;
	border-bottom: 5px solid gray;
	border-right: 5px solid gray;
}
#two {
	grid-area: two;
	background-color: blue;
	border-top: 10px solid gray;
	border-right: 10px solid gray;
	border-bottom: 5px solid gray;
	border-left: 5px solid gray;
}
#three {
	grid-area: three;
	background-color: green;
	border-bottom: 10px solid gray;
	border-left: 10px solid gray;
	border-right: 5px solid gray;
	border-top: 5px solid gray;
}
#four {
	grid-area: four;
	background-color: yellow;
	border-bottom: 10px solid gray;
	border-right: 10px solid gray;
	border-left: 5px solid gray;
	border-top: 5px solid gray;
	
}