html{
    font-family:Arial, Helvetica, sans-serif
    background-image: url(images/BGdark.png);
    background-position: top;
    background-size: cover;
    
}
h1 {
    color: 9a88ff;
    border: 3px;
    border-color: hsl(0, 0%, 100%);
    border-style: dashed;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}
h2 {
    color: #9a88ff;
    font-family: 'Brush Script MT', cursive;
}
table {
    background-color: hsla(260, 100%, 85%, 0);
    color: hsl(260, 100%, 85%);
}
form {
    max-width: 50%;
}
ul{list-style-image: url('images/bulletpoint.png');}
div.topnav {
    color: #b9a88ff;
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 15px;
    margin: 15px;
}
a {
    color: #9a88ff;
    background-color: hsl(0, 0%, 0%, 0.5%);
    padding: 15px;
}
a:hover {
    color: hsl(259, 100%, 94%);
    background-color: hsl(251, 42%, 30%);
}
img {
    margin: 15px;
    border-width: medium;
    box-shadow: 5px 5px 5px black;
}
p {
    color:hsl(259, 100%, 94%)
}
ul {
    color:hsl(259, 100%, 94%)
}