html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('images/bg-tile.png');
    color: hsl(259, 100%, 94%);
    height: 100%;
    width: 100%;
}
body{
    height: 60%;
    width: 100%;
}

#homepage-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#summary{
    display: inline-flex;
    flex-flow: column wrap;
}

#summary img{
    height: 200px;
}

.card{
    display: inline-block;
    border: 5px solid #975eb8;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 45%;
    background-color: rgba(30,30,30,0.7);
    box-shadow: 5px 5px 5px black;
}

h1, h2{
    text-align: center;

}

table {
    background-color: hsla(260, 100%, 85%, 0);
    color: hsl(259, 100%, 94%)
}
form {
    max-width: 50%;
}

ul{list-style-image: url('images/bulletpoint.png');}
div.topnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "one two three four";
    align-items: center;
    width: 100%;
}
div.topnav a {
    border-radius: 0px;
    margin: 0px;
    text-align: center;
    border: none;
    font-size: x-large;
    background-color: rgba(30,30,30,0.7);
    text-decoration: none;
    border-top: 5px solid #975eb8;
    border-bottom: 5px solid #975eb8;
    color: #eed2ff;
}
div.topnav a:hover {
    text-align: center;
    border: none;
    font-size: x-large;
    background-color: #343434;
    text-decoration: none;
    border-top: 5px solid #975eb8;
    border-bottom: 5px solid #975eb8;
    color: #eed2ff;
}
#home {
     font-size: xx-large;
     color: #dc9fff;
     text-decoration: none;
     border: 5px solid #eed2ff;
 }
#hamburger{
    display: none;
}
a {
    display: inline-block;
    color: white;
    background-color: #343434;
    padding: 15px;
    margin: 5px;
    border: 2px solid #707070;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 5px;
}
a:hover {
    background-color: #474747;
}
img {
    margin: 15px;
    box-shadow: 5px 5px 5px black;
    border: 5px solid #707070;
}

button {
    color: white;
    background-color: #343434;
    padding: 15px;
    border: 2px solid #707070;
    border-radius: 5px;
}
button:hover {
    color: white;
    padding: 15px;
    border: 2px solid #707070;
    filter: brightness(150%);
}
button:disabled {
    background-color: darkGray;
	color: gray;
}

#text-wrapper{
    margin: 20px;
}

#settings-wrapper{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting{
    background-color: #343434;
    margin: 5px;
    padding: 5px;
}
#button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapflex{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
	height: 100%;
}

@media only screen and (max-width: 450px){
    div.topnav{
        grid-template-columns: auto 50px;
        grid-template-areas: "one two";
        width: 90%;
    }
    div.topnav a{
        display: none;
    }
    #home{
        display: block;
        grid-area: one;
        justify-self: center;
    }
    #summary img{
        height: 150px;
    }
    #homepage-content{
        justify-content: center;
    }
    .card{
        width: 90%;
    }
    #hamburger{
        display: inline;
        grid-area: two;
        justify-self: center;
    }
}

@media only screen and (min-width: 451px) and (max-width: 800px){
    div.topnav{
        grid-template-columns: auto 50px;
        grid-template-areas: "one two";
        width: 90%;
    }
    div.topnav a{
        display: none;
    }
    #home{
        display: block;
        grid-area: one;
        justify-self: center;
    }
    #summary img{
        height: 200px;
    }
    #homepage-content{
        justify-content: center;
    }
    .card{
        width: 90%;
    }
    #hamburger{
        display: inline;
        grid-area: two;
        justify-self: center;
    }
}

@keyframes pulse {
    0% {transform:scale(1.1);}
    50% {transform:scale(0.9);}
    100% {transform:scale(1.1);}
}

@keyframes bounce {
    0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px) scaleY(0.8) scaleX(1.2);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px) scaleY(0.8) scaleX(1.2);
	}
}

@keyframes spin {
    from{rotate: 360deg}
}

@keyframes squeeze {
	0%{transform: scaleX(1) scaleY(1)}
    25%{transform: scaleX(0.5) scaleY(1.5)}
	50%{transform: scaleX(1.5) scaleY(0.5)}
	100%{transform: scaleX(1) scaleY(1)}
}